# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environment
venv/
.env

# Flask cache / logs
instance/
.webassets-cache
*.log

# Node modules
**/node_modules/
**/package-lock.json

# Build output
frontend/build/
frontend/dist/

# React files
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# General
*.swp
*.bak
*.tmp

